body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  width: 500px;
  height: 100px;
  outline: none;
  border: none;
  font-size: 25px;
  background-color: brown;
  color: white;
}